<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> BawraKafila</title>
<link rel="shortcut icon" href="~/Resources/Logo/Logo.png" />
<link rel="stylesheet" href="~/Content/ver4-w3.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Indie+Flower|Muli">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/site2.css" />
<body>
    @RenderBody()
    <!-- Third Parallax Image with About Us Text -->
    <div class="bgimg-3 w3-display-container w3-opacity-min w3-grayscale w3-sepia" ">
        <div class="w3-display-middle">
            <span class="w3-xxlarge w3-wide w3-text-black">ABOUT US</span>
        </div>
    </div>


    <!-- Container (About Section) -->
    <div class="w3-content w3-container w3-padding-64" id="about">
        <h3 class="w3-center">ABOUT US</h3>
        <p class="w3-center"><em>We love travelling</em></p>

        <div class="w3-row-padding w3-grayscale">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="/images/pic.jpg" alt="Shubham" style="width:100%"/>
                <h3>Shubham Gupta</h3>
                <p class="w3-opacity">Co-Founder and Wanderer</p>
                <p>I wanna make this fucking life a roller coster ride; a rememberable story</p>
                <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="~/images/Ravi.png" alt="Ravi" style="width:100%">
                <h3>Ravi Ranjan</h3>
                <p class="w3-opacity">Co-Founder and Marketeer</p>
                <p>For me travell is a spiritual experience. I read I travell I become </p>
                <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="~/images/avatar.png" alt="Anshu" style="width:100%">
                <h3>Anshuman Kumar</h3>
                <p class="w3-opacity">Co-Founder and the Gym-guy</p>
                <p>You won't meet more humourous guy than me. No I'm serious</p>
                <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="~/images/ashish.JPG" alt="Ashish" style="width:100%">
                <h3>Ashish Dalal</h3>
                <p class="w3-opacity">Member</p>
                <p>A Nusrat Fateh Ali khan Fan. May you travell so far enough that you discover yourself</p>
                <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="w3-row w3-center w3-black w3-padding-16">
        <div class="w3-third w3-section">
            <span class="w3-xlarge">2</span><br>
            Trips
        </div>
        <div class="w3-third w3-section">
            <span class="w3-xlarge">20+</span><br>
            Happy Travellers
        </div>
        <div class="w3-third w3-section">
            <span class="w3-xlarge">50k+</span><br>
            Revenue
        </div>
        <!--<div class="w3-quarter w3-section">
            <span class="w3-xlarge">150+</span><br>
            Meetings
        </div>-->
    </div>
    <!-- Fourth Parallax Image with Contact Text -->
    <div class="bgimg-4 w3-display-container w3-opacity-min w3-grayscale w3-sepia"">
        <div class="w3-display-middle">
            <span class="w3-xxlarge w3-text-white w3-wide">CONTACT</span>
        </div>
    </div>

    <!-- Container (Contact Section) -->
    <div class="w3-content w3-display-container w3-padding-64" id="contact">
        <h3 class="w3-center">WHERE WE WORK</h3>
        <p class="w3-center"><em>We'd love your feedback!</em></p>

        <div class="w3-row w3-padding-32 w3-section">
            <div class="w3-col m4 w3-container">
                <!-- Add Google Maps -->
                <div id="googleMap" class="w3-round-medium w3-greyscale" style="width:100%;height:400px;"></div>
            </div>
            <div class="w3-col m8 w3-panel">
                <div class="w3-large w3-margin-bottom">
                    <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Pune, India<br>
                    <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: +91 9582819710<br>
                    <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: healingninjas@gmail.com<br>
                </div>
                <p>Swing by for a cup of <i class="fa fa-coffee"></i>, or leave me a note:</p>
                <form action="/action_page.php" target="_blank">
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <div class="w3-half">
                            <input class="w3-input w3-border w3-hover-border-black" type="text" placeholder="Name" required name="Name">
                        </div>
                        <div class="w3-half">
                            <input class="w3-input w3-border w3-hover-border-black" type="text" placeholder="Email" required name="Email">
                        </div>
                    </div>
                    <input class="w3-input w3-border w3-hover-border-black" type="text" placeholder="Message" required name="Message">
                    <button class="w3-btn w3-black w3-right w3-section w3-disabled" type="submit">
                        <i class="fa fa-paper-plane"></i> SEND MESSAGE
                    </button>
                </form>
            </div>
        </div>
        <a href="#home" class="w3-button w3-circle w3-xlarge w3-display-bottommiddle w3-hover-opacity w3-hover-none"><i class="fa fa-arrow-up"></i></a>
    </div>

    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-16">
        <div class="w3-xlarge w3-section">
            <a href="https://www.facebook.com/bawrakafila/" target="_blank" rel="nofollow noindex" style="text-decoration: none;">
                <i class="fa fa-facebook-official w3-hover-opacity w3-margin-right" style="color:#3b5998;"></i>
            </a>

            <a href="https://www.instagram.com/bawrakafila/" target="_blank" rel="nofollow noindex" style="text-decoration: none;">
                <i class="fa fa-instagram w3-hover-opacity w3-margin-right" style="color:#3f729b;"></i>
            </a>

            <a href="https://www.youtube.com/channel/UCThyRY6ybtjaki3Telyuz-Q" target="_blank" rel="nofollow noindex" style="text-decoration: none;">
                <span class="fa-stack w3-margin-right">
                    <i class="fa fa-circle w3-opacity fa-2x" style="color:#cd201f;"></i>
                    <i class="fa fa-youtube w3-opacity w3-hover-opacity-off fa-stack-1x fa-inverse"></i>
                </span>
            </a>

            <a href="javascript:void(null);" target="_blank" rel="nofollow noindex" style="text-decoration: none;">
                <i class="fa fa-twitter w3-hover-opacity w3-margin-right" style="color:#55acee;"></i>
            </a>

            <a href="javascript:void(null);" target="_blank" rel="nofollow noindex" style="text-decoration: none;">
                <i class="fa fa-linkedin w3-hover-opacity" style="color:#0077b5;"></i>
            </a>
        </div>
    </footer>

    <!-- Add Google Maps -->
    <script>
        // Used to toggle the menu on small screens when clicking on the menu button
        function toggleFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }

        function myMap() {
            myCenter = new google.maps.LatLng(18.5637318, 73.9504863);
            var mapOptions = {
                center: myCenter,
                zoom: 7, scrollwheel: true, draggable: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);

            var marker = new google.maps.Marker({
                position: myCenter,
            });
            marker.setMap(map);
        }
    </script>
    <script src="~/Scripts/ProjectX_2.0.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAo3t7Oai4C7mn7tPZGmTYp_IKA1EE6TlU&callback=myMap"></script>
    <!--
    To use this code on your website, get a free API key from Google.
    Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
    -->
</body>
</html>
