
<div id="footer1">
    <div class="constrain">
        <div class="section1">
            <h2>we are gaining social skills</h2>

            <div class="social">
                <a href="https://www.facebook.com/notheplaholidays" target="_blank" title="Facebook" rel="nofollow noindex">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x" style="color:#3b5998;"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>

                <a href="https://www.instagram.com/no.thepla.holidays/" target="_blank" title="Instagram" rel="nofollow noindex">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x" style="color:#3f729b;"></i>
                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="https://www.youtube.com/channel/UCxhKXHjvIXJ_eX50qA6aXGQ" target="_blank" title="YouTube" rel="nofollow noindex">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x" style="color:#cd201f;"></i>
                        <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                    </span>
                </a>

                <a href="https://www.linkedin.com/company/no-thepla-holidays" target="_blank" title="LinkedIn" rel="nofollow noindex">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x" style="color:#0077b5;"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                </a>

                <a href="https://twitter.com/nothepla" target="_blank" title="Twitter" rel="nofollow noindex">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x" style="color:#55acee;"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </div>
        </div>

    </div>
</div>
