<div id="innerSocial">
    <h2>we are gaining social skills</h2>

    <div>
        <a href="https://www.facebook.com/bawrakafila/" target="_blank" title="Facebook" rel="nofollow noindex">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x" style="color:#3b5998;"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
        </a>

        <a href="https://www.instagram.com/bawrakafila/" target="_blank" title="Instagram" rel="nofollow noindex">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x" style="color:#3f729b;"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <a href="https://www.youtube.com/channel/UCThyRY6ybtjaki3Telyuz-Q" target="_blank" title="YouTube" rel="nofollow noindex">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x" style="color:#cd201f;"></i>
                <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
            </span>
        </a>

        <!--<a href="https://www.linkedin.com/company/no-thepla-holidays" target="_blank" title="LinkedIn" rel="nofollow noindex">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x" style="color:#0077b5;"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
        </a>

        <a href="https://twitter.com/bawrakafila" target="_blank" title="Twitter" rel="nofollow noindex">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x" style="color:#55acee;"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
        </a>-->
    </div>
</div>
