body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/*Designs for socials*/
#footer1 .constrain {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:cadetblue;
}

#footer1 .section1 {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

#footer1 .section1 .social {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-image: url(http://placehold.it/1/eee);
    background-repeat: repeat-x;
    background-position: calc(49%);
}

.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

 .fa-2x {
    font-size: 2em;
}

.fa-stack-2x {
    font-size: 2em;
}

.fa-stack-1x, .fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

element.style {
    color: #3b5998;
}

.fa-stack-2x {
    font-size: 2em;
}

.fa-stack-1x, .fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}